.container-page {
    display: flex;
    flex-direction: row;
}
.content {
    width: 100vw;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding-bottom: 50px;
    padding: 20px;

    h1 {
        padding: 30px 0px 30px 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: left;
        line-height: 125%;
    }
}


@media screen and (max-width: 720px) {
    .container-page {
        display: flex;
        flex-direction: column;
    }
}