.table {
    display: table;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-collapse: collapse;
    overflow-x: auto;
    table {
        width: 100%;
  border-collapse: collapse;

    }
    tr {
      height: 50px;
  
      &:hover {
        background-color: #05d6891d;
      }
    }
  
    td {
      color: #707683;
      font-size: 14px;
      text-align: center;
  
      i {
        display: block;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  
  @media screen and (max-width: 720px) {
    .table {
      width: 100%; /* Ajustar el ancho al 100% para ocupar todo el contenedor */
    }
  }
  